.container{
text-align: center;
margin-top: 29;
mask-origin: fill-box;
margin: 50;
}
body{
    background-color: aquamarine;
    padding: 0px;
    margin: 0px;
}
.ab{
    text-align: center;
    margin-top: 25;

}

.ef{
    text-align: center;
    border-color: brown;
    border-bottom: 25;
}
.container input{
    margin: 8;
    padding: 5;
    border-radius: 12;
}