.container{
    text-align: center;
    margin-top: 20;
    border-radius: 15;
}
.roll{
 border-color:white;   
 text-decoration-color: black;
 margin-top: 80px;
 text-align: center;
 padding: 0px;
 
}
body{
    background-color: aqua;
    padding: 0px;
    margin: 0px;
    
}

    
.jss{
    border-color: brown;
    border-radius: 23;
}
#diceCanvas {
    border:  solid rgb(243, 21, 10);
    text-align: center;
    height: 50vh;
    width:40vh;
    padding:60px, 300px;
    margin-left: 580;
    margin-top: 20;
    border-radius: 50;
    background-color: rgb(246, 255, 0);
    padding-top: 25;
}